:root {
  --primary-color: #045ac3;
  --secondary-color: #00ccff;
  --text-color: #ffffff;
  --input-bg-color: rgba(255, 255, 255, 0.1);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.movingBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #020202, #050505, #020202);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  z-index: -2;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.starrySky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

  .star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 5s infinite;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.content {
  z-index: 2;
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 1rem;

  h1 {
    font-size: 2em;
    margin-bottom: 1rem;

    .highlight {
      background: linear-gradient(45deg, #0033cc, #4d79ff, #00ccff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
    }
  }

  p.beta {
    display: flex;
    justify-content: center;

    span {
      margin: 0 4px;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  .featureList {
    text-align: left;
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222;
  padding: 2rem;
  border-radius: 10px;
  z-index: 3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 400px;

  h2 {
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
  }

  button {
    width: 100%;
    border-radius: 5px;
  }
}

.betaLink {
  color: var(--secondary-color);
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;

  &:hover {
    color: #4d79ff;
  }
}

#cloudCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.timeline {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px 0;
  overflow-x: hidden;

  .timelineTrack {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: var(--completion-width, 0%);
      height: 4px;
      background: linear-gradient(to right, #0033cc, #4d79ff, #00ccff);
      animation: gradientFlow 5s linear infinite;
      background-size: 200% 200%;
      transition: width 0.5s ease-out;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -6px;
      /* Adjust this value to align with the line */
      left: var(--completion-width, 0%);
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 12px solid #00ccff;
      /* Match the end color of your gradient */
      transform: translateX(-50%);
      transition: left 0.5s ease-out;
    }
  }

  .timelineItem {
    flex: 1;
    max-width: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      bottom: -8px;
      /* half of the height of the circle */
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--secondary-color);
      border: 3px solid #222;
      z-index: 1;
    }

    &[data-complete="false"]::before {
      background-color: #555;
      /* or any color for incomplete milestones */
    }
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -200% 0%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3em;
  }

  .features {
    flex-direction: row;
    justify-content: space-around;

    .featureList {
      margin-bottom: 0;
    }
  }
}